<div class="sign-up">
  <div class="container-sign-up">
    <div class="row">
      <form action="/user/create" method="POST" class="col s12" id="reg-form">

        <% if(flash && flash.err) { %>
          <div id="card-alert" class="card red">
            <div class="card-content white-text">
              <% Object.keys(flash.err).forEach(function(error) { %>
                <p><i class="material-icons">info</i> <%- JSON.stringify(flash.err[error]) %></p>
              <% }) %>
            </div>
            <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
        <% } %>

        <div class="row">
          <div class="input-field col s12">
            <input id="name" name="name" type="text" class="validate">
            <label for="name">Your Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="title" name="title" type="text" class="validate">
            <label for="title">Your Title</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="email" name="email" type="email" class="validate">
            <label for="email">Email Address</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="password" name="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="confirmation" name="confirmation" type="password" class="validate">
            <label for="confirmation">Password Confirmation</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <button class="btn btn-large btn-register waves-effect waves-light" type="submit" value="Create Account">Register
              <i class="material-icons right">done</i>
            </button>
          </div>
        </div>

        <input type="hidden" name="_csrf" value="<%= _csrf %>" />

      </form>
    </div>
  </div>
  <!--<a title="Login" class="ngl btn-floating btn-large waves-effect waves-light red"><i class="material-icons">input</i></a> -->
</div>