<div class="container">
  <h1><%= user.name %></h1>
  <% if(user.admin) {%>
    <img src="/images/admin.png" alt="admin"> admin
  <% } else { %>
    <img src="/images/pawn.png" alt="user"> pawn
  <% } %>
  <h3><%= user.title %></h3>
  <hr>
  <h3>cantact: <%= user.email %></h3>

  <a class="waves-effect waves-light btn" href="/user/edit/<%= user.id %>">Edit</a>
</div>

<br>
<div class="container">
  <hr>
  <footer class="footer">
    <div class="right">
      <a href="http://sailsjs.com/">sails.js</a>
      <div>tutorial by GHEZAL Mohammed Amine<br> and GHEZAL Sid Ahmed</div>
    </div>
  </footer>
</div>
