<div class="container">
  <div class="card-panel grey lighten-2">
    <h1>activityOverlord</h1>

    <h2>...tracking app activity better then the NSA since 1899.</h2>
    <a href="/user/new" class="waves-effect waves-light btn green accent-4"><i class="material-icons left">mode_edit</i>Sign up now!</a>
  </div>
</div>

<br>
<div class="container">
  <hr>
  <footer class="footer">
    <div class="right">
      <a href="http://sailsjs.com/">sails.js</a>
      <div>tutorial by GHEZAL Mohammed Amine</div>
    </div>
  </footer>
</div>
